<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bem vindo ao seu Angular Todo-List !
  </h1>
  <img width="300" alt="Angular Logo"
    src="https://user-images.githubusercontent.com/1560278/27637937-cb4b9b24-5c11-11e7-949b-15c1e4cdb53c.gif" />
</div>

<div>

  <h2 style="text-align:center">Adicione um item a lista: </h2>

  <div class="container">

    <input class="input" autofocus type="text" #newTodo (keyup.enter)="addTodo(newTodo.value); newTodo.value=''"
      placeholder="Pressione enter para adicionar..." />

</div>

  <table>

    <tr>
      <td> ID </td>
      <td> Nome </td>
    </tr>

    <tr *ngFor="let todo of todos">
      <td>{{ todo.id }}</td>
      <td>{{ todo.name }}</td>

      <button (click)="deleteTodo(todo)" class="btn-remove"> X </button>
      <button (click)="updateTodo(todo.id, todo.name)" class="btn-update">Atualizar</button>
    </tr>
  </table>

</div>
